/* Stylesheet juanjosalvador.github.io */	

	header  { 
		text-align: center; 
		background-image: url(../imagenes/pattern.png); 
		background-repeat: repeat;
		color: white;
		padding: 12px;
		border: 12px white;
		font-family: Oswald;
		}

	body { 
		background-image: url(../imagenes/pattern.png); 
		background-repeat: repeat;
	     }

	p { 
		color: white; 
		font-family: Serif, Helvetica; 
		font-size: 18pt; 
		text-decoration: none;
		
	  }

	footer { 
		text-align: center;
		font-size: 10pt;
		}

	article { 
		position: relative; 
		margin: 0 0 0 25% ; 
		width: 50%; 
		text-align: justify;
		}

	hr { 
		width: 100%; 
		height: 12px; 
		background-color: white; 
		border: none; 
	   }
	span {
		color: #f24537;
		font-family: Oswald;
	     }

	/* Botón */
	.boton {
		-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
		-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
		box-shadow:inset 0px 1px 0px 0px #f5978e;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
		background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
		background-color:#f24537;
		-webkit-border-top-left-radius:0px;
		-moz-border-radius-topleft:0px;
		border-top-left-radius:0px;
		-webkit-border-top-right-radius:0px;
		-moz-border-radius-topright:0px;
		border-top-right-radius:0px;
		-webkit-border-bottom-right-radius:0px;
		-moz-border-radius-bottomright:0px;
		border-bottom-right-radius:0px;
		-webkit-border-bottom-left-radius:0px;
		-moz-border-radius-bottomleft:0px;
		border-bottom-left-radius:0px;
		text-indent:0;
		border:1px solid #d02718;
		display:inline-block;
		color:#ffffff;
		font-family: Helvetica;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:35px;
		line-height:40px;
		width:130px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #810e05;
	}
	.boton:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
		background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
		background-color:#c62d1f;
	}.boton:active {
		position:relative;
		top:1px;
	}

