/*
	Parabellum Theme
	Versión: 1.0
	Autor: Juan José Salvador
	Web: http://github.com/JuanjoSalvador
*/

	/* Paleta de colores usados

		#f24537 - Rojo
		#ffffff - Blanco
		#1a1a1a - Gris (sombra)
	*/

header {
	text-align : center;
	padding : 12px;
	font-size: 18pt;
	font-family: Oswald;
	}
h1 {
	font-family : Oswald;
	color : #ffffff;
	font-size : 25pt;
	text-shadow : -2px 2px 4px #1a1a1a;
	}
body {
	background-attachment : fixed;
	background-image : url(../imagenes/pattern.png);
	background-repeat : repeat;
	text-shadow : -2px 2px 4px #1a1a1a;
	}

ol {
	list-style-type : katakana;
	}
p, li {
	color : #ffffff;
	font-family : Lora, Helvetica;
	font-size : 18px;
	text-decoration : none;
	}
footer {
	text-align : center;
	font-size : 10pt;
	font-family : Oswald;
	}
footer a {
	color : #ffffff;
	text-decoration : none;
	}
footer a:hover {
	color : #f24537;
	}
article {
	position : relative;
	margin : 0 0 0 25%;
	width : 50%;
	text-align : justify;
	}
span, h2, h3, h4, h5 {
	color : #f24537;
	font-family : Oswald;
	}
span a {
	color : #f24537;
	font-family : Oswald;
	text-decoration : none;
	}
span a:hover {
	color : #ffffff;
	}
.enlace {
	color : #ffffff;
	text-decoration: none;
	}
.enlace:hover {
	color : #f24537;
	text-decoration : underline;
	}
.actual {
	color : #f24537;
	text-decoration : underline;
}
.codebox {
	width : 97%;
	background-color : #212121;
	border : #000000 solid 2px;
	color : #ffffff;
	padding : 10px 10px 10px 10px;
	}
.imagebox img {
	max-width : 50%;
	height : auto;
	border : white solid 1px;
	}
#construccion, #botones, #social-network {
	position : relative;
	text-align : center;
	}
#info {
	position : relative;
	float : right;
	}
#home {
	font-color: #ffffff;
}

.seccion ul {
	list-style-type : none;
	}

.seccion ul ul {
	list-style-type: square;
}
	
.boton:active {
	position : relative;
	top : 1px;
	}

@font-face
@font-face
@font-face {
	{
	font-family : "'Oswald'";
	font-style : normal;
	font-weight : 400;
	src : local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/Y_TKV6o8WovbUd3m_X9aAA.ttf) format('truetype');
}
}
@font-face {
	{
	font-family : "'Lora'";
	font-style : normal;
	font-weight : 400;
	src : local('Lora'), local('Lora-Regular'), url(http://fonts.gstatic.com/s/lora/v9/4A-myfZX6oDr9CtSTkTGig.ttf) format('truetype');
	}
}
