---
layout: default
title: Home
---

<div class="frontpage">
    {% for post in paginator.posts %}
        <div class="frontpage-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h3 class="title is-3">{{ post.title }}</h3>
            </a>
            <span class="frontpage-time has-text-grey-light">
              Publicado por {{ site.author.name }}, el <time datetime="{{ post.date }}">{{ post.date | date_es }}</time>
            </span>
            
            <p class="frontpage-item-excerpt">
                {{ post.content | truncatewords: 60 | strip_html }}
            </p>

            <p class="frontpage-item-readmore">
                <a href="{{ post.url | prepend: site.baseurl }}" class="button is-{{ site.color }}">
                   <strong>Sigue leyendo</strong>
                </a>
            </p>
            <br><br>
        </div>
    {% endfor %}
</div>

{% include pagination.html %}