@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
  background-color: #54748b;
}

#images {
    display: none;
}

header, footer, a {
  position: relative;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Droid Sans';
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

#game {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 385px;
  border:5px solid black;
}
