<nav class="navbar is-{{ site.color }}" aria-label="main navigation" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item"></div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-brand"></div>
            <a href="/" alt="Link to Juanjo Salvador's blog" class="navbar-item">
                <span>🏠 Inicio</span>
            </a>
        </div>

        <div class="navbar-end">
        </div>
    </div>
</nav>