<div class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if paginator %}
    {% assign page_start = paginator.page | minus: 1 %}
    {% if page_start < 1 %}
      {% assign page_start = 1 %}
    {% endif %}
    
    {% assign page_end = paginator.page | plus: 1 %}
    {% if page_end > paginator.total_pages %}
      {% assign page_end = paginator.total_pages %}
    {% endif %}

    {% if paginator.previous_page %}
      <a class="pagination-previous" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Anterior</a>
    {% else %}
      <a class="pagination-previous" disabled>Anterior</a>
    {% endif %}

    {% if paginator.next_page %}
      <a class="pagination-next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Siguiente</a>
    {% else %}
      <a class="pagination-next" disabled>Siguiente</a>
    {% endif %}

    <ul class="pagination-list">
      {% if page_start > 1 %}
        <li>
          <a class="pagination-link" href="{{ site.baseurl }}/">1</a>
        </li>
        {% if page_start > 2 %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endif %}

      {% for i in (page_start..page_end) %}
        {% if i == 1 %}
          {% assign purl = site.baseurl | append: '/' %}
        {% else %}
          {% assign purl = site.baseurl | append: '/' | append: i | append: '/' %}
        {% endif %}

        <li>
          {% if paginator.page == i %}
            <a class="pagination-link is-current is-{{ site.color }}" aria-current="page">{{ i }}</a>
          {% else %}
            <a class="pagination-link" href="{{ purl }}">{{ i }}</a>
          {% endif %}
        </li>
      {% endfor %}

      {% if page_end < paginator.total_pages %}
        {% if page_end < paginator.total_pages | minus: 1 %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
        <li>
          <a class="pagination-link" href="{{ site.baseurl }}/{{ paginator.total_pages }}/">{{ paginator.total_pages }}</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>