<script>
    function calculateSettingAsThemeString({ localStorageTheme, systemSettingDark }) {
        if (localStorageTheme !== null) {
            return localStorageTheme;
        }

        if (systemSettingDark.matches) {
            return "dark";
        }

        return "light";
    }

    const localStorageTheme = localStorage.getItem("theme");
    const systemSettingDark = window.matchMedia("(prefers-color-scheme: dark)");

    let currentThemeSetting = calculateSettingAsThemeString({ localStorageTheme, systemSettingDark });

    // target the button using the data attribute we added earlier
    const button = document.querySelector("[data-theme-toggle]");
    button.innerHTML = "dark" ? "<strong>Dark 🌙</strong>" : "<strong>Light ☀️</strong>";

    button.addEventListener("click", () => {
        const newTheme = currentThemeSetting === "dark" ? "light" : "dark";
        const newCta = newTheme === "dark" ? "<strong>Dark 🌙</strong>" : "<strong>Light ☀️</strong>";
        button.innerHTML = newCta;
        button.setAttribute("aria-label", newCta);
        document.querySelector("html").setAttribute("data-theme", newTheme);
        localStorage.setItem("theme", newTheme);
        currentThemeSetting = newTheme;
    });
</script>