<div>
    <div class="page-header">
        <h1>The GitHubber
            <small>Search GitHub users by location (BETA)</small>
        </h1>
    </div>
        
    <!--<pre>{{vm.respuesta | json}}</pre>-->
      <style>
            table td {
               padding-right: 10px;
            }
            
            .bigger {
                font-size: 20px;
            }
              
            .inverse {
                color: white;
                background-color: #404040;
            }    
      </style>
      
      <!-- WARNINGS AND IMPORTANT INFO -->
      
        <div class="alert alert-warning">
                <p>There is a known issue caused by rate limit of GitHub API without OAuth. 
                    Currently, It can make approx 12 petitions per minute. Some pages will not be loaded. Wait 1-2 minutes and the error is solved.</p>
        </div>
      
      <!-- END OF WARNINGS -->
      
        <div>
            <form name="searchForm">
                <div class="input-group">
                    <input type="text" 
                           class="form-control"
                           placeholder="Location"
                           ng-model="locat"/>
                           
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="vm.getDatos(locat)" >Search</button>
                    </span>
                </div>
            </form>
        </div>
        
        <br>
        
        <div ng-hide="vm.respuesta.data.total_count > 0">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Instructions and tips</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Search by location. Sensitive to languages (example: Germany != Deutschland).</li>
                        <li>Sensitive with accents (example: Almería != Almeria).</li>
                        <li>Not sensitive to capital letters.</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div ng-init="vm.currentPage = 1">
            <div ng-show="vm.respuesta.data.total_count > 0">
                <div class="bigger">Wow! There are {{vm.respuesta.data.total_count}} GitHubbers at {{locat}}</div>
                
            
            <br>
                <table class="table">
                    <tr class="inverse">
                        <th>Avatar</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    
                    <tr ng-repeat="user in vm.respuesta.data.items">
                        <td><img ng-src="{{user.avatar_url}}" width="50" height="50" class="img-circle"/></td>
                        <td><span class="bigger">{{user.login}}</span></td> 
                        <td><a ng-href="http://www.github.com/{{user.login}}" class="btn btn-primary">View {{user.login}} on GitHub</a></td>
                    </tr>
                </table>            
                <div ng-show="vm.respuesta.data.total_count > 30">
                    <strong>Page {{vm.currentPage}} of {{vm.totalPages}}</strong><br><br>
                    
                    <!-- Previous page button -->
                    <button ng-hide="vm.currentPage == 1" ng-click="vm.prevPage(locat, vm.currentPage)" class="btn btn-success">
                        Previous
                    </button>
                    <!-- Next page button -->
                    <button ng-hide="vm.currentPage == vm.totalPages" ng-click="vm.nextPage(locat, vm.currentPage)" class="btn btn-success">
                        Next
                    </button>
                </div>
            </div>      
               
            <br/>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Developed by <a href="http://juanjosalvador.es/">Juanjo Salvador</a> as part of AngularJS training in Coderty Studio.</p>
                <p>Powered by GitHub API and AngularJS.</p>
            </div>
        </div>
</div>