<!DOCTYPE html>
<html lang="es" data-theme="dark">

  {% include head.html %}

  <body>   
    {% include header.html %}

    <section class="section">
        <div class="container">
            <div class="columns is-3 mb-1">
                <div class="column"></div>
                <div class="column is-two-thirds has-text-justified">
                    {{ content }}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>

    {% include footer.html %}
  </body>
  {% include hamburguer.html %}
  
  {% include theme-switcher.html %}
</html>