<!DOCTYPE html>
<html lang="es" data-theme="dark">

{% include head.html %}

<body>
  <section class="hero">
    
    {% include navbar.html %}

    <div class="hero-body">
      <div class="container main">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title is-2 post-title">{{ page.title }}</h1>
            <h2 class="subtitle is-3">
              <em>{{ page.description }}</em>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-3 mb-1">
        <div class="column"></div>
        <div class="column is-two-thirds has-text-justified">
          <div class="post">

            <div class="has-text-centered">
              <!-- <figure class="image is-64x64 is-flex is-justify-content-center" style="margin: 0 auto;">
                <img src="https://jsalvador.me/public/images/pfp.jpg" class="is-rounded" />
              </figure>
              <br /> -->
              <div class="post-info has-text-grey">
                <time datetime="{{ post.date }}" class="frontpage-time">{{ page.date | date_es }}</time>
              </div>
            </div>

            {{ content }}

          </div>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

{% include hamburguer.html %}

{% include theme-switcher.html %}

</html>